body{
    background-color: #caf0f8;
}
img{
    height: 200px;
    border-radius: 100px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
}
h1,h3{
    color: #003566;
}
/* h3{
    color: #003566;
} */